body,
div,
header,
img,
h1,
p,
button,
form,
label,
input,
span,
select,
option,
ul,
ol,
li,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --colorPrimary: #fd377e;
  --colorPrimary2: #e34981;
  --colorSecundary: #03b898;
  --grey4: #212529;
  --grey3: #868e96;
  --grey2: #e9ecef;
  --grey1: #f8f9fa;
}
